h1 {
    color: whitesmoke;
    font-size: 30pt;
    text-shadow: 5px 2px 4px grey;
    font-family: Hallo Oyster;
    text-align: center;
}

h1 {
    padding: 10px;
    border: 5px solid white;
}

body {
    background-image: url(techno.jpg)
}

.navegacion {
    width: 100%;
    margin: 20px auto;
    background: red;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    display: inline-block;
    padding: 10px 15px;
    color: black;
    font-family: AldotheApache;
    width: 10%;
}

.menu li a:hover {
    color: cornflowerblue;

}

h2 {
    padding: 10px;
    border: 5px solid white;
    color: red;
    font-family: AldotheApache;
}

p {
    color: red;
    font-size: 25px;
}

h3 {
    color: red;
}

@font-face {
    font-family: Hallo Oyster;
    src: url("Hallo Oyster.otf");
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}
a:hover{
    color: orangered;
}

@font-face {
    font-family: AldotheApache;
    src: url("AldotheApache.otf");
}

#tamaño {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span {
    color: grey;
}

footer {
    color: white;
    position: relative;
    bottom: 0%;
    margin-left: 35%;
}

p.intro {
    color: red;
    font-family: AldotheApache;
}

#contenedor {
    background: black;
    padding: 10px;
    overflow: hidden;
}

#izquierda1 {
    padding: 10px;
    float: left;
    color: #fff;
    width: 45%;
    min-width: 300px;
    margin: 10px;
    background: grey;
}

#derecha1 {
    padding: 10px;
    float: left;
    color: #fff;
    width: 45%;
    min-width: 300px;
    margin: 10px;
    background: grey;
}
#contacto {
    background: black;
    padding: 10px;
}

#contenedorinicio {
    background: black;
    padding: 10px;
    overflow: hidden;
    
}

#izquierdainicio {
    padding: 10px;
    float: left;
    color: #fff;
    width: 100%;
    margin: 10px;
    background: grey;
    max-width: 560px;
    min-width: 300px;
}

#derechainicio {
    padding: 10px;
    float: left;
    color: #fff;
    width: 50%;
    min-width: 300px;
    /*  width: 100%; */
    margin: 10px;
    background: grey;
}

#iframeinicio1 {
    width: 100%;
}

#contenedortracks {
    background: black;
    padding: 10px;
    overflow: hidden;
}

#izquierdatracks1 {
    padding: 10px;
    float: left;
    color: #fff;
    margin: 10px;
    width: 45%;
    min-width: 300px;
    background: grey;
}

#derechatracks1 {
    padding: 10px;
    float: left;
    color: #fff;
    width: 45%;
    min-width: 300px;
    margin: 10px;
    background: grey;
}

#contenedortracks2 {
    background: black;
    padding: 10px;
    overflow: hidden;
}

#izquierdatracks2 {
    padding: 10px;
    float: left;
    color: #fff;
    width: 45%;
    min-width: 300px;
    margin: 10px;
    background: grey;
}

#contenedorparrafo {
    padding: 10px;
    background: black;
    overflow: hidden;
}

#derechatracks2 {
    padding: 10px;
    float: left;
    color: #fff;
    width: 45%;
    min-width: 300px;
    margin: 10px;
    background: grey;
}

p.actualizada {
    color: blue;
    text-align: center;
}

#actualizada {
    background-color: aliceblue
}
.primeralbum {
    display: flex;
    max-width: 100%;
    min-width: 300px;
    justify-content: center;
}