h1 {
    color: whitesmoke;
    font-size: 30pt;
    text-shadow: 5px 2px 4px grey;
    font-family: Hallo Oyster;
    text-align: center;
    padding: 10px;
    border: 5px solid white;
}

body {
    background-image: url(techno.jpg)
}

nav {
    width: 100%;
    margin: 0px auto;
    background: black;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

ul li {
    list-style: none;
    margin: 2px 38px;
    transition: 0.5s;
    width: 7%;
    padding: 10px 18px;
    display: inline-block;
}

ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}

ul:hover li a {
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

ul li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}

ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: orangered;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

ul li a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

h1 a:hover {
    color: red;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

a:link {
    text-decoration: none;
    color: #fff;
}

h2 {
    padding: 10px;
    border: 5px solid white;
    color: red;
    font-family: AldotheApache;
}

p {
    color: red;
    font-size: 25px;
}

h3 {
    color: red;
}

@font-face {
    font-family: Hallo Oyster;
    src: url("Hallo Oyster.otf");
}

@font-face {
    font-family: AldotheApache;
    src: url("AldotheApache.otf");
}

#tamaño {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span {
    color: grey;
}
#micaja {
    color: red;
    font-family: AldotheApache;
    font-size: 30px;
    text-align: center;
}

#contenedor {
    background: black;
    padding: 10px;
    overflow: hidden;
}

#izquierda1 {
    padding: 10px;
    float: left;
    color: #fff;
    width: 45%;
    min-width: 300px;
    margin: 10px;
    background: grey;
}

#derecha1 {
    padding: 10px;
    float: left;
    color: #fff;
    width: 45%;
    min-width: 300px;
    margin: 10px;
    background: grey;
}

#contacto {
    background: black;
    padding: 10px;
}

#contenedorinicio {
    background: black;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;

}

#izquierdainicio {
    padding: 10px;
    float: left;
    color: #fff;
    width: 100%;
    margin: 10px;
    background: grey;
    max-width: 560px;
    min-width: 300px;
}

#derechainicio {
    padding: 10px;
    float: left;
    color: #fff;
    width: 100%;
    min-width: 300px;
    max-width: 560px;
    /*  width: 100%; */
    margin: 10px;
    background: grey;
}

#iframeinicio1 {
    width: 100%;
}

#contenedortracks {
    background: black;
    padding: 10px;
    overflow: hidden;
}

#izquierdatracks1 {
    padding: 10px;
    float: left;
    color: #fff;
    margin: 10px;
    width: 45%;
    min-width: 300px;
    background: grey;
}

#derechatracks1 {
    padding: 10px;
    float: left;
    color: #fff;
    width: 45%;
    min-width: 300px;
    margin: 10px;
    background: grey;
}
#contenedorparrafo {
    padding: 10px;
    background: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}


p.actualizada {
    color: blue;
    text-align: center;
}

#actualizada {
    background-color: aliceblue
}

.primeralbum {
    padding: 10px;
    color: #fff;
    margin: 10px;
    width: 45%;
    min-width: 300px;
    background: grey;

}

.Andes {
    text-align: center;
}

.Andes a:hover {
    color: red;
}
#colorlistas{
    background-color: #1950FF;
    text-align: center;
}
h2 a:hover{
    color:#AEFF87;
}